<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="logo"><a href="/"><img src="http://placehold.it/200x200&text=Logo"></a></h1>
            <!-- <a class="extra" href="/">home</a> -->
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <a href="/">Impressum</a> | <a href="http://florianscholz.com">Florian Scholz</a> & <a href="http://greenflesheater.com">Niklas Barning</a> 2013
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
