<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{ relative }}css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ relative }}css/main.css">

</head>
<body>

  <div class="site">
    <div class="header">
      <a href="/"><img class="logo" src="{{ relative }}img/logo.svg"></a>
    </div>

    {{ content }}

    <div class="footer">
      <p>
        <a href="impressum.html">Impressum</a> | <a href="mailto:hallo@greenflesheater.com?subject=Altes%20Video.&body=Ich%20hätte%20gerne%20das%20alte%20Video.">Fordere das alte Video an!</a><br>
        Text: Julia Vogel |  
        Technik & Design: <a href="http://florianscholz.com">Florian Scholz</a> & <a href="http://greenflesheater.com">Niklas Barning</a>
      </p>
    </div>
  </div>

</body>
<script>
  function vid_play_pause() {
    var video = document.getElementById("video");
    if (video.paused) {
      video.play();
    } else {
      video.pause();
    }
  }
</script>
</html>
